@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hamburger menu button styles */
#menu-btn {
  color: #FA7000; /* Adjust color as needed */
}

#menu-btn svg {
  transition: transform 0.3s ease-in-out;
}

#menu-btn.open svg {
  transform: rotate(90deg);
}
